::-webkit-scrollbar {
	width: 18px;
}

::-webkit-scrollbar-track {
	background: transparent;
	background-color: #181818;
}

::-webkit-scrollbar-thumb {
	background-color: #9e9e9e3f;
	border-radius: 10px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	border: 5px solid transparent;
	background-color: #9e9e9e67;
}

::-webkit-scrollbar-thumb:active {
	border: 5px solid transparent;
	background-color: #9e9e9e8c;
}

::-webkit-scrollbar-corner {
	background-color: #181818;
}
